[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = "*"
mkdocs-material = "*"
mkdocs-print-site-plugin = "*"
mkdocs-macros-plugin = "*"
testinfra = "*"
flake8 = "*"
ansible-lint = "*"
weasyprint = "*"
mkpdfs-mkdocs = "*"
mkdocs-with-pdf = "*"

[packages]
docker = {extras = ["molecule"], version = "*"}
ansible = "*"

[requires]
python_version = "3.8"
