[sources.syslog_thesink]
  # syslog from thesink (localhost)
  type = "syslog" # required
  mode = "unix" # required, options 'udp', 'tcp', 'unix'
  path = "/var/log/syslog" # required, required when mode = "unix"
  #max_length = 102400 # optional, default, bytes

  # Context
  host_key = "thesink.scu-sri.net"


[sinks.viz001]
  # General
  type = "vector" # required
  inputs = ["syslog_thesink"] # required
  address = "207.154.249.9:9000" # required
  healthcheck = true # optional, default

  # Buffer
  buffer.max_events = 500 # optional, default, events, relevant when type = "memory"
  buffer.max_size = 104900000 # required, bytes, required when type = "disk"
  buffer.type = "memory" # optional, default
  buffer.when_full = "block" # optional, default

  # TLS
  # Make sure to mount volume in docker-compose '/etc/ca-certificates/certificate_authority.crt:/etc/ssl/certs/certificate_authority.crt'
  #tls.ca_file = "/etc/ssl/certs/certificate_authority.crt" # Local to the vector container.
  #tls.crt_file = "/etc/ssl/certs/host_certificate.crt" # as above
  #tls.enabled = true
  #tls.key_file = "/etc/ssl/certs/host_certificate.key" # as above
  #tls.key_pass = "${KEY_PASS_ENV_VAR}" # Configure GITHUB_SECRETS "KEY_PASS_ENV_VAR" !! - This needs to be configured on ansible
  #tls.verify_certificate = true
